<!DOCTYPE html>
<html lang="en">

<head>
    <title>Payment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <nav class="navbar">
        <div class="container-fluid">
            <p class="navbar-brand">
                Welcome Ahmed
            </p>
            <li>
                <a style="color:rgb(168, 163, 163);" class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </li>
        </div>
    </nav>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="" method="post">
                    {% csrf_token %}
                    <h2>Waiting for your <br> Payment......</h2>
                    <h4 class="pay" style="margin-top: 20px;"> <b> After Payment </b></h4>

                    <button type="button" class="btn btn-success" style="margin: 20px;">start</button>
                    <button type="button" class="btn btn-danger" style="margin: 20px;">stop</button> <br>
                    

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit"
                                onclick="window.location.href = 'home.html'">View History/status</button>
                        </div>
                    </div>
                    <!-- <button style="margin-left:70%; margin-top: 8px;" type="button" class="btn btn-primary" onclick="window.location.href = 'comment.html'">Next</button> -->
                </form>
            </div>

            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/bootstrap/js/popper.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/daterangepicker/moment.min.js"></script>
    <script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="../static/js/main.js"></script>

</body>

</html>