<html>
<head>

  <title>Buzzer Page</title>

  <link rel="stylesheet" href="styles.css"></link>

  <script type="text/javascript" src="script.js"></script>

  <link rel="icon" href="Clever person.jpg" type="image/jpg">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <main>
    <div class="center">
        <!-- <input type="text" id="name"> -->
        <button onclick = "buzz()">PressMe</button>
    </div>
  </main>

  <script>
    function buzz(){
    
    alert("hello");
}

  </script>
</body>
</html>